@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap');

* {
    box-sizing: border-box;
}

body {
    background: linear-gradient(90deg, rgb(255, 153, 153), rgb(103, 103, 255));
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
}

.container {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1),
        0 6px 6px rgba(0, 0, 0, 0.1);
    padding: 50px 20px;
    text-align: center;
    max-width: 100%;
    width: 800px;

}

h3 {
    margin: 0;
    opacity: 0.5;
    letter-spacing: 2px;
}

.joke {
    font-size: 30px;
    letter-spacing: 1px;
    line-height: 2;
    margin: 40px auto;
    max-width: 600px;
}

.btn {
    background-color: rgb(166, 179, 255);
    color: white;
    border-radius: 15px;
    border: 0;
    margin-top: 20px;
    padding: 10px 30px;
    font-size: 1.2rem;
    cursor:pointer;
}

.btn:active {
    transform: scale(0.98);
}

.footer {
    text-align: center;
}

.footer-text {
    color: white;
}

a .icon {
    color: white;
    font-size: 1.4rem;
    margin: 0.2rem 0.8rem;
}

@media(max-width:400px) {
    .joke {
        font-size: 24px;
    }

    .btn {
        font-size: 0.8rem;
    }
}
